html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background: #ffffff url('/static/img/asanoha-400px.png'); /* Background pattern from Subtle Patterns */
    font-family: 'Coda', cursive;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


h1 {
    font-family: Monoton, Tahoma, sans-serif;
    font-weight: 500;
    font-size: 28px;
    color: #001827;
}

/*
 * Styles for the board
 */

.board {
    width: 860px;
    min-height: 540px;
    background: linear-gradient(130deg, #0bcc60 0%, #96cd31 100%);
    padding: 32px;
    border-radius: 30%;
    box-shadow: 12px 15px 20px 0 rgba(46, 61, 73, 0.5);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 1em;
}

.board h4 {
    display: flex;
    flex: 0 0 100%;
    justify-content: center;
    margin: 5px;
}

.board_dealer {
    display: flex;
    flex: 0 0 100%;
    justify-content: center;
    align-items: center;
}


.board_player {
    display: flex;
    flex: 0 0 100%;
    justify-content: center;
    align-items: center;
}

.card {
    margin: 5px;
    height: 135px;
    width: 85px;
    background: #0f3e49;
    font-size: 0;
    color: #ffffff;
    border-radius: 8px;
    cursor: pointer;
    box-shadow: 5px 3px 20px 0 rgba(46, 61, 73, 0.6);
}

.bet {
    display: flex;
    align-self: flex-start;
}

.chipContainer {
	height: 100px;
	display: inline-block;
	position: relative;
	transform: translateX(-50%);
	left: 50%;
	top: 50px;
}

.footer button{
    background-color: #28314b;
	color: #fff;
	padding: 10px;
	border: none;
	border-radius: 5px;
	font-size: 18px;
    cursor: pointer;
}