
{% extends 'layout.html' %}

    {% block content %}
        <div class="container">
            <!------ Game header ------>
            <header>
                <h1>Blackjack</h1>
            </header>

            <div id="balance">
                Balance: <span>500$</span>
            </div>

            <div class="board">
                <div class="bet chipContainer" id="chipContainer">
                    <div id="betAmount">
                        Bet:<span>0$</span>
                    </div>
                    <button id="up"><i class="fas fa-arrow-up"></i></button>
                    <button id="down"><i class="fas fa-arrow-down"></i></button>
                    <button id="ok"><i class="fas fa-dollar-sign"></i></button>
                </div>

                <h4>Dealer's cards : <span id="dealerValue"></span> </h4>
                <div class="board_dealer" id="dealer">

                </div>

                <h4>Your cards : <span id="playerValue"></span></h4>
                <div class="board_player" id="player">

                </div>
            </div>

            <div class="footer">
                <button class="start" id="start">Start</button>
                <button class="hit" id="hit">Hit</button>
                <button class="stand" id="stand">Stand</button>
            </div>

        <!------ Modal  ------>
        <div class="popup-container hidden">
            <div class="popup">
				<a class="close-icon hidden" id="first-close-icon" href=# >&#10006;</a>
                <a class="close-icon hidden" id="second-close-icon" href=# >&#10006;</a>
				<h2 class="congrat hidden">Congratulations !!!</h2>
                <h2 class="congrat hidden">GAME OVER !!!</h2>
				 <div class="win message hidden">
					AWESOME! YOU WIN!
				</div>
                <div class="tie hidden message">
                    IT'S A TIE!
                </div>
                <div class="lose message hidden">
                    BAD LUCK! YOU LOSE!
                </div>
				<button id="replay-button" class="hidden">
					Play again
				</button>

			</div>
        </div>

        </div>
    {% endblock %}