<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Blackjack</title>
    <meta name="description" content="Memory Game">
	<meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/app.css') }}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Monoton">
    <link rel="stylesheet prefetch" href="https://fonts.googleapis.com/css?family=Coda">
   <script src="{{ url_for('static', filename='js/game.js') }}" defer></script>

</head>
<body>
    <div class="container">
        <!------ Game header ------>
        <header>
            <h1>Blackjack</h1>
        </header>

        <!--
        <div class="bet chipContainer" id="chipContainer">
            <span>Bet: </span>
            <button>Increase bet</button>
            <button>Decrease bet</button>
        </div>
        -->

        <div class="board">
            <h4>Dealer's cards</h4>
            <div class="board_dealer" id="dealer">

            </div>

            <h4>Your cards</h4>
            <div class="board_player" id="player">

            </div>
        </div>

        <div class="footer">
            <button class="start" id="start">Start</button>
            <button class="hit" id="hit">Hit</button>
            <button class="stand" id="stand">Stand</button>
        </div>


    </div>
</body>
</html>